{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static "css/foundation.css" %}"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
</head>
<body>
<a href="https://github.com/FoamyGuy/MatterMaker"><img style="position: absolute; top: 0; right: 0; border: 0;"
                                                       src="{% static 'img/github_ribbon.png' %}"></a>

<div class="header row">
    <div class="large-3 columns">
        <h2>MakeMatter</h2>
    </div>
    <div class="large-9 columns">
        <ul class="inline-list right">

            <li><a id="scad-btn" class="header-btn small button" href="#">Download OpenSCAD</a></li>
            <li><a id="stl-btn" class="header-btn small button" href="#">Download STL</a></li>
        </ul>
    </div>
</div>


<div class="row">


    <div id="canvas-container" class="large-9 push-3 columns">

        <h3>{{ matter_template.name }}
            <small></small>
        </h3>

        <canvas id="cv" style="border: 1px solid;" width="735" height="338"></canvas>
        <div class="row" style="position: relative;">

            {% for template_var in matter_template_vars %}
                {% if template_var.type == "str" or template_var.type == "int" %}
                    <div class="large-2 columns">
                        <label for="{{ template_var.name }}_in">{{ template_var.name }}:</label>
                        <input id="{{ template_var.name }}_in" type="text" value=""/>
                    </div>
                {% elif template_var.type == "bool" %}
                    <div class="large-2 columns">
                        <label for="{{ template_var.name }}_in">{{ template_var.name }}:</label>
                        <input id="{{ template_var.name }}_in" type="checkbox" value=""/>
                    </div>
                {% endif %}
            {% endfor %}

            <input class="small button" type="button" onclick="refresh();" value="Refresh"
                   style="height: 100%; top: 12px;"/>
        </div>
    </div>

    <div class="sidebar large-3 pull-9 columns">

        <ul class="side-nav">
            <li><a href="/show_matter_template/7de50fcd-6eec-44a7-90f6-1c7380b61a44/">Basic Box</a></li>
            <li><a href="/show_matter_template/a0c16607-4fec-4f24-a577-a5d9401dbc8c/">Juggling Ball</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
            <li><a href="#">Section 5</a></li>
            <li><a href="#">Section 6</a></li>
        </ul>

        <p><img src="{% static 'img/ad.png' %}"></p>

    </div>

</div>


<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-6 columns">
                <p>© Copyright no one at all. Go to town.</p>
            </div>
            <div class="large-6 columns">
                <ul class="inline-list right">
                    <!--<li><a href="#">Section 1</a></li>
                    <li><a href="#">Section 2</a></li>
                    <li><a href="#">Section 3</a></li>
                    <li><a href="#">Section 4</a></li>-->
                </ul>
            </div>
        </div>
    </div>
</footer>


<script type="text/javascript" src="{% static "js/vendor/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "js/jsc3d.js" %}"></script>
<script type="text/javascript" src="{% static "js/jsc3d.webgl.js" %}"></script>
<script type="text/javascript" src="{% static "js/jsc3d.touch.js" %}"></script>
<script type="text/javascript">
    var obj_uuid = "";
    var canvas = document.getElementById('cv');
    var viewer = new JSC3D.Viewer(canvas);
    var d = Date.now();

    viewer.setParameter('SceneUrl', 'media/out/out.stl?time=' + d);
    viewer.setParameter('InitRotationX', -20);
    viewer.setParameter('InitRotationY', 45);
    viewer.setParameter('InitRotationZ', 70);
    viewer.setParameter('ModelColor', '#CAA618');
    viewer.setParameter('BackgroundColor1', '#EEEEEE');
    viewer.setParameter('BackgroundColor2', '#999999');
    viewer.setParameter('RenderMode', 'textureflat');
    viewer.setParameter('MipMapping', 'on');
    viewer.setParameter('Renderer', 'webgl');
    viewer.init();
    viewer.update();

    function refresh() {

        {% for template_var in matter_template_vars %}
            {% if template_var.type == "int" or template_var.type == "str" %}
                var {{ template_var.name }} = $('#{{ template_var.name }}_in').val();
            {% elif template_var.type = "bool" %}
                var {{ template_var.name }} = $('#{{ template_var.name }}_in').prop('checked');
            {% endif %}
        {% endfor %}

        var url = "/render_matter_template/{{ matter_template.uuid }}/?";

        {% for template_var in matter_template_vars %}
            url += "{{ template_var.name }}=" + {{ template_var.name }} + "&";
        {% endfor %}

        if (obj_uuid != "") {
            url += "&key=" + obj_uuid
        }

        console.log(url);

        $.get(url, function (data) {
            console.log(data);
            viewer.replaceSceneFromUrl(data);
            viewer.update();

            $("#stl-btn").attr("href", data);
            $("#scad-btn").attr("href", data.replace(".stl", ".scad"));

            obj_uuid = data.replace("/media/out/", "").replace(".stl", "");
            console.log(obj_uuid)
        });
        d = Date.now();
    }
</script>

<script src="{% static "js/foundation.min.js" %}"></script>
<script>
    $(document).foundation();

</script>
</body>
</html>