.header{
    background-color: #eeeeee;
}

.header-btn{
    top: 20px;
    position: relative;
}

.sidebar{
    border-top: solid 1px black;
    background-color: #EEEEEE;
}

#cv{

    border: solid 0px #ffffff;
}